body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


/* Header Styles */

header {
    background-color: #1F2937;
    margin: 0;
    padding: 0% 20%;
    color: white;
}

.flex-container {
    display: flex;
}

.nav-flex-container {
    display: flex;
    color: white;
    align-items: center;
}

.flex-container h2 {
    flex: 1;
    font-weight: bold;
}

/* Player Selector Button Styles */

.player-selector-buttons {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.player-selector-buttons li {
    list-style-type: none;
    margin: 5%;
}

.player-selector-buttons button {
    height: 100px;
    width: 100px;
}

/* Results styling */

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 5% 0%;
}

.results p {
 font-size: 25px;
}

.results div {
    display: flex;
    flex-direction: row;
}

.results h1 {
    margin: 30px;
}